// Global Animations

@keyframes motion {
    0% {
        left: -180px;
        top: -200px;
    }

    50% {
        left: -260px;
        top: -50px;
    }

    100% {
        left: -180px;
        top: -200px;
    }
}

@keyframes motion_2 {
    0% {
        left: -190px;
        top: -200px;
    }

    50% {
        left: -240px;
        top: -60px;
    }

    100% {
        left: -190px;
        top: -200px;
    }
}

@keyframes pan {
    0% {
        right: -100px;
        bottom: -2px;
    }

    50% {
        right: -200px;
        bottom: -20px;
    }

    100% {
        right: -100px;
        bottom: -2px;
    }
}

@keyframes pan_2 {
    0% {
        right: -80px;
        bottom: -2px;
    }

    50% {
        right: -140px;
        bottom: -100px;
    }

    100% {
        right: -80px;
        bottom: -2px;
    }
}